extends layout

block content
  .container(style='font-size:1.3em;')
    h1.ui.center.aligned.header
      i.gift.red.icon
      | 參賽獎勵
    h3.ui.info.message 豐富獎品，等你/妳來參加!<br>獎金隨參加人數增減
    h2.ui.header 英雄聯盟:5v5
    h3.ui.header 8隊(以上)
    ul
      li 冠軍:500 RP/人、6000NTD
      li 亞軍:250 RP/人、4000NTD
      li 季軍:150 RP/人、2000NTD
      li 參加獎:權利點加倍道具(4 勝)
    h3.ui.header 32隊(以上)
    ul
      li 冠軍:1000 RP/人、6000NTD
      li 亞軍:500 RP/人、4000NTD
      li 季軍:300 RP/人、2000NTD
      li 參加獎:權利點加倍道具(4 勝)
    h2.ui.header 英雄聯盟:校內中路單挑大賽
    h3.ui.header 8隊(以上)
    ul
      li 冠軍:500 RP/人、6000NTD
      li 亞軍:250 RP/人、4000NTD
      li 季軍:150 RP/人、2000NTD
      li 參加獎:權利點加倍道具(4 勝)
    h3.ui.header 32隊(以上)
    ul
      li 冠軍:1000 RP/人、6000NTD
      li 亞軍:500 RP/人、4000NTD
      li 季軍:300 RP/人、2000NTD
      li 參加獎:權利點加倍道具(4 勝)
    //h2.ui.header 星海爭霸
    //ul
    //  li 冠軍:獎金+周邊商品
    //  li 亞軍:獎金+周邊商品
    //  li 季軍:獎金+周邊商品
    h2.ui.header 爐石戰記
    ul
      li 冠軍:暴雪官方周邊商品+2500NTD
      li 亞軍:暴雪官方周邊商品+1500NTD
      li 季軍:500NTD
    //h2.ui.header A.V.A 戰地之王
    //ul
    //  li 冠軍:50張紅票、獎金(50%報名收入)、ahq獨家贊助周邊產品
    //  li 亞軍:30張紅票、獎金(30%報名收入)、ahq獨家贊助周邊產品
    //  li 季軍:20張紅票、獎金(10%報名收入)
    //  li 參加獎:10000Euro、瑪利點數60點，以及女角造型包7天
    h2.ui.header OverWatch 鬥陣特攻
    ul
      li 冠軍:暴雪官方周邊商品+4000NTD
      li 亞軍:暴雪官方周邊商品+2500NTD
      li 季軍:1000NTD
