extends layout

block content
  .container(style='font-size:1.3em;')
    h1.ui.center.aligned.header
      i.gift.red.icon
      | 參賽獎勵
    h3.ui.info.message 前150位報名成功且至少完成任何一場賽事，即可獲得《暴雪英霸》封測序號一組(一人限領一份)，將會以寄Email的方式進行發送。
    h2.ui.header 英雄聯盟
    ul
      li 冠軍:500 聯盟幣(共 6 名)、該項遊戲總啟動碼收取費用(該遊戲總報名費) 40%、符文頁一頁序號(共 6 份)
      li 亞軍:300 聯盟幣(共 6 名)、該項遊戲總啟動碼收取費用(該遊戲總報名費) 30%
      li 季軍:100 聯盟幣(共 6 名)、該項遊戲總啟動碼收取費用(該遊戲總報名費) 20%
      li 參加獎:權利點加倍道具(4 勝)
    h2.ui.header 星海爭霸
    ul
      li 冠軍:POP 凱莉根公仔一個、蟲族進化 T-Shirt size M 一件、該項遊戲總啟動碼收取費用(該遊戲總報名費) 40%
      li 亞軍:POP 凱莉根公仔一個、Carbot 雷獸 T-Shirt size M 一件、該項遊戲總啟動碼收取費用(該遊戲總報名費) 30%
      li 季軍:POP 凱莉根公仔一個、雷諾摺紙 papercraft、該項遊戲總啟動碼收取費用(該遊戲總報名費) 20%
    h2.ui.header 爐石戰記
    ul
      li 冠軍:《爐石戰記》T-Shirt 一件、悠遊卡貼一個、卡背資料夾一個、該項遊戲總啟動碼收取費用(該遊戲總報名費) 40%
      li 亞軍:《爐石戰記》開瓶器磁鐵一個、悠遊卡貼一個、卡背資料夾一個、該項遊戲總啟動碼收取費用(該遊戲總報名費) 30%
      li 季軍:《爐石戰記》拭淨布一份、悠遊卡貼一個、卡背資料夾一個、該項遊戲總啟動碼收取費用(該遊戲總報名費) 20%
    h2.ui.header A.V.A 戰地之王
    ul
      li 冠軍:50,000 EURO(該優勝隊伍平分)、該項遊戲總啟動碼收取費用(該遊戲總報名費) 40%
      li 亞軍:30,000 EURO(該優勝隊伍平分)、該項遊戲總啟動碼收取費用(該遊戲總報名費) 30%
      li 季軍:20,000 EURO(該優勝隊伍平分)、該項遊戲總啟動碼收取費用(該遊戲總報名費) 20%
      li 參加獎:經驗值+30%(3 天)
