extends layout

block content
  .container(style='font-size:1.3em;')
    h1.ui.center.aligned.header
      i.gift.red.icon
      | 參賽獎勵
    h3.ui.info.message 豐富獎品，等你/妳來參加!
    h2.ui.header 英雄聯盟:8 隊 (以上) 的賽事
    ul
      li 冠軍:500 RP/人、獎金+周邊商品
      li 亞軍:250 RP/人、獎金+周邊商品
      li 季軍:150 RP/人、獎金+周邊商品
      li 參加獎:權利點加倍道具(4 勝)
      li 英雄聯盟伊澤瑞爾公仔 1 尊 (提供給主辦單位做為抽獎使用)
    h2.ui.header 英雄聯盟:32 隊 (以上) 的賽事
    ul
      li 冠軍:1000 RP/人、獎金+周邊商品
      li 亞軍:500 RP/人、獎金+周邊商品
      li 季軍:300 RP/人、獎金+周邊商品
      li 參加獎:權利點加倍道具(4 勝)
      li 英雄聯盟伊澤瑞爾公仔 2 尊 (提供給主辦單位做為抽獎使用)
    h2.ui.header 英雄聯盟:校內中路單挑大賽
    ul
      li 冠軍:500 RP/人、獎金
      li 亞軍:250 RP/人、獎金
      li 季軍:150 RP/人、獎金
      li 參加獎:權利點加倍道具(4 勝)
    h2.ui.header 星海爭霸
    ul
      li 冠軍:獎金+周邊商品
      li 亞軍:獎金+周邊商品
      li 季軍:獎金+周邊商品
    h2.ui.header 爐石戰記
    ul
      li 冠軍:獎金+周邊商品
      li 亞軍:獎金+周邊商品
      li 季軍:獎金+周邊商品
    h2.ui.header A.V.A 戰地之王
    ul
      li 冠軍:50張紅票、獎金+周邊商品
      li 亞軍:30張紅票、獎金+周邊商品
      li 季軍:20張紅票、獎金+周邊商品
      li 參加獎:10000Euro、瑪利點數60點，以及女角造型包7天、140貝殼幣
