extends layout

block stylesheet

block content
  .container
    h1.ui.center.aligned.header
      i.user.icon
      | 賽事詳細資料
    a.ui.black.button(href='/competition/') 賽事中心
    .ui.segment
      h1.ui.center.aligned.header= "遊戲類別：" + game
      h2.ui.center.aligned.header
        | 賽別：
        case com.comp_type
          when 0
            | 預賽
          when 1
            | 複賽
          when 2
            | 決賽
      .ui.right.aligned.grid
        .right.floated.center.aligned.two.wide.column
        .right.floated.center.aligned.five.wide.column
          .ui.segments
            .ui.top.attached.blue.segment
              if com.team2.head == ""
                img(width='200', src='/uploads/defaultPortrait.png')
              else
                img(width='200', height='200', src='/uploads/'+com.team2.head)
            .ui.bottom.attached.secondary.segment
              a(href='/team/'+com.team2.id)= com.team2.name
        .two.wide.column
          h1.ui.center.aligned.header(style='margin-top: 50px;') VS.
        .left.floated.center.aligned.two.wide.column
        .left.floated.center.aligned.five.wide.column
          .ui.segments
            .ui.top.attached.blue.segment
              if com.team1.head == ""
                img(width='200', src='/uploads/defaultPortrait.png')
              else
                img(width='200', height='200', src='/uploads/'+com.team1.head)
            .ui.bottom.attached.secondary.segment
              a(href='/team/'+com.team1.id)= com.team1.name
      h2.ui.center.aligned.header= "比賽時間：" + time
      h2.ui.center.aligned.header
        | 獲勝隊伍：
        case com.winner
          when -1
            | 尚未完結
          when 0
            = com.team1.name
          when 1
            = com.team2.name
