extends layout

block content
  .contact-form(style="width:850px;margin: 0 auto;height: 1050px;")
    iframe(src="https://docs.google.com/forms/d/1BkBJPi96g0EIrwgjFWkDrVZewtI_jB1v6xT_jjnwt8I/viewform?embedded=true",width="760",height="1100",frameborder="0",marginheight="0",marginwidth="0",scrolling="no") 載入中…
