doctype html
html(prefix="og: http://ogp.me/ns/website#" )
  head
    // standard meta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')

    title 2016中央大學電競大賽   

    // Facebook
    <meta property="og:title" content="中央大學電競大賽" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://gamer.csie.ncu.edu.tw/" />
    <meta property="og:image" content="http://gamer.csie.ncu.edu.tw/img/logo.png" />
    <meta property="og:description" content="中央大學電競大賽 - 「第六屆中央電競大賽」正式開打！" />
    <meta property="og:site_name" content="中央大學電競大賽 NCU ESPORT GAME" />

    link(rel='stylesheet', type='text/css', href='/css/semantic.min.css')
    link(rel='stylesheet', type='text/css', href='/css/global.css')
    block stylesheet
    script(src='/js/jquery-2.1.3.min.js')
    script(src='/js/semantic.min.js')
  body#home
    .page-wrap
      .ui.masthead.segment
        .ui.page.grid
          .column
            .ui.menu
              a.header.item(href='/')
                i.home.icon
                = "2016中央電競大賽"
              a.item(href='/announcement') 公告
              a.item(href='/competition') 賽事中心
              a.item(href='/participation_help') 報名須知
              .ui.dropdown.link.item
                | 大賽規則
                i.dropdown.icon
                .menu
                  a.item(href='/rules/lol') 英雄聯盟
                  a.item(href='/rules/lols') 英雄聯盟-中路單挑大賽
                  a.item(href='/rules/hs') 爐石戰記
                  a.item(href='/rules/sc2') 星海爭霸II：虛空之遺
                  a.item(href='/rules/ava') A.V.A戰地之王
              a.item(href='/awards') 參賽獎勵
              a.item(href='/contact') 問題舉報
              a.item(href='/sponsors') 贊助商
              .right.menu
                if user
                  a.item(href='/user/'+user.id)= "你好, "+user.local.name
                  .ui.dropdown.link.item
                    | 功能表
                    i.dropdown.icon
                    div.menu
                      a.item(href='/team/dashboard')
                        i.sitemap.icon
                        | 組隊系統
                      a.item(href='/team')
                        i.users.icon
                        | 隊伍列表
                      a.item(href='/user')
                        i.user.icon
                        | 選手列表
                      if user.local.level > 0
                        .ui.horizontal.divider
                        a.item(href='/team/all/0')
                          i.users.icon
                          | LOL隊伍清單
                        a.item(href='/team/all/1')
                          i.users.icon
                          | 爐石隊伍清單
                        a.item(href='/team/all/2')
                          i.users.icon
                          | 星海隊伍清單
                        a.item(href='/team/all/3')
                          i.users.icon
                          | AVA隊伍清單
                        a.item(href='/team/all/4')
                          i.users.icon
                          | 中路單挑選手清單
                      .ui.horizontal.divider
                      a.item(href='/user/'+user.id+'/edit')
                        i.settings.icon
                        | 帳號設定
                      if user.local.level >= 10
                        a.item(href='/code')
                          i.privacy.icon
                          | 啟動碼管理
                      a.item(href='/logout')
                        i.log.out.icon
                        | 登出
                else
                  .item
                    .ui.button(onclick="location.href='/login'") 登入
                  .item
                    .primary.animated.fade.ui.button
                      a.visible.content(href='/register') 註冊
                      a.hidden.content(href='/register') 衝一發
                a.item(href='https://www.facebook.com/NCUeSG/')(target='_blank')
                  i.facebook.square.icon
      block content
    #footer.ui.inverted.footer.vertical.segment.site-footer 2016 © NCU CSIE E-Sports Game All Rights Reserved.
    script(src='/js/global.js')
    block javascript
