extends layout

block content
  .container
    h1.ui.center.aligned.header
      i.video.play.outline.red.icon
      | 直播
    .ui.top.attached.tabular.menu
      a.active.item(data-tab='youtube')
        img(src='/img/live/youtube_icon.jpg')
      a.item(data-tab='twitch')
        img(src='/img/live/twitch_icon.jpg')
    //-
      a.item(data-tab='ncu')
        img(src='/img/live/ncu_icon.jpg')
    .ui.bottom.attached.active.tab.segment(data-tab='youtube')
      iframe(width="100%", height="480", src="https://www.youtube.com/embed/hDIH7hEU5O8?autoplay=1", frameborder="0", allowfullscreen, id="player")
    .ui.bottom.attached.tab.segment(data-tab='twitch')
      object(type="application/x-shockwave-flash" id="player" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel=ncuesg" height="520" width="100%")
        param(name="allowFullScreen" value="true")
        param(name="allowScriptAccess" value="always")
        param(name="allowNetworking" value="all")
        param(name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf")
        param(name="flashvars" value="hostname=www.twitch.tv&amp;channel=ncuesg&amp;auto_play=true&amp;start_volume=25")
  //-
    .ui.bottom.attached.tab.segment(data-tab='ncu')
      object(width='100%', height='550')
        param(name='movie', value='http://fpdownload.adobe.com/strobe/FlashMediaPlayback.swf')
        param(name='flashvars', value='src=rtmp%3A%2F%2F140.115.53.248%2Flive%2Fout&poster=http%3A%2F%2Fosmf.org%2Fimages%2Fposter_cathy_fmp.jpg&streamType=live')
        param(name='allowFullScreen', value='true')
        param(name='allowscriptaccess', value='always')
        embed(src='http://fpdownload.adobe.com/strobe/FlashMediaPlayback.swf', type='application/x-shockwave-flash', allowscriptaccess='always', allowfullscreen='true', width='600', height='409', flashvars='src=rtmp%3A%2F%2F140.115.53.248%2Flive%2Fout&poster=http%3A%2F%2Fosmf.org%2Fimages%2Fposter_cathy_fmp.jpg&streamType=live')
    .ui.bottom.attached.active.tab.segment(data-tab='youtube')
      iframe(src="//www.youtube.com/embed/BWxbfvAYPBw?autoplay=1" id="player" allowfullscreen="" frameborder="0" height="550" width="100%")

block javascript
  script(src='/js/live.js')

