extends layout

block content
  .container(style='font-size:1.3em;')
    h1.ui.center.aligned.header
      i.info.circle.purple.icon
      | 報名須知
    .ui.warning.message
      | 〔重要〕
      br
      | 此次的比賽，採用約戰制!請務必注意!請在協調完成比賽時間後，務必告知裁判，才能在官網上進行賽事的更新!
      br
      | 所有項目皆開放校外學生參賽。
    h2.ui.header 一.賽事簡介
    h3.ui.header 1.「第七屆中央校園電競大賽」一共分為三個階段:
    ul
      li 初賽:2017/3/23(四)~2017/3/29(三)
      li 複賽:2017/3/30(四)~2017/4/07(五)
      li 決賽:2017/4/08(六)~2017/4/09(日)
    h3.ui.header 2. 報名方式
    ul
      li 2017/3/13 開始網路報名、開放購買啟動碼
      li 2017/3/22 啟動碼販賣結束
      li 2017/3/22 網路報名截止
    h3.ui.header 3. 比賽方法
    h4.ui.header 線上賽(初賽、複賽)
    ul
      li 選手請於指定時間上線進行比賽
    h4.ui.header 現場賽(決賽)
    ul
      li 選手請於指定時間至指定地點報到並出賽
      li 指定地點:桃園市中壢區和平街28號 (娛樂世界電競概念館)
    .ui.warning.message
      p
        | 註:相關的比賽指定完成期限將由裁判擇日公布於本站賽事中心或FB 粉絲頁「
        a(href='http://www.facebook.com/NCUeSG') 中央大學電競大賽
        | 」。
      p 因任何理由而提早知道隊伍無法在預定的周出賽,該隊伍的隊長需於比賽的2 天前透過官網的「問題舉報」頁面申請更改比賽日期,逾期不受理。

    h2.ui.header 二.比賽方式
    h3.ui.header 初賽、複賽
    ul
      li 比賽期間,選手自備電腦進行比賽。
      li 全隊選手須於賽前 10 分鐘報到完畢,比賽開始時仍未報到者視為棄權。
      li 賽後由裁判將結果公告於「第七屆電競大賽-賽事中心」。
      li 各項競賽規則將另行公告。
    h3.ui.header 決賽
    ul
      li 全隊選手須於賽前 30 分鐘報到完畢,若選手遲到 10 分鐘,則裁判有權判定遲到隊伍棄權。
      li 各項競賽規則將另行公告。
    h2.ui.header 三.遊戲環境
    h3.ui.header 初賽、複賽
    h4.ui.header 硬體
    ul
      li 選手自備電腦進行比賽。
    h4.ui.header 軟體
    ul
      li 團體戰 (英雄聯盟、鬥陣特攻) 隊伍間可以使用即時通訊軟體(聊聊、RC 語音、Skype ... 等)進行通話。
    h3.ui.header 決賽
    h4.ui.header 硬體
    ul
      li 使用官方所提供之電腦。
      li 請自行攜帶鍵盤、滑鼠、滑鼠墊、耳機,以及其他不違反遊戲公平性之輔助道具或個人用品。
    h4.ui.header 軟體
    ul
      li 可於賽前 10 分鐘調整個人習慣操作環境。
      li 提供即時通訊軟體:RC 語音、Skype、聊聊。
    h2.ui.header 四.遊戲秩序
    ul
      li 「裁判長」由電競社人員劉宗翰擔任。
      li 裁判具有決定賽事最後結果之權利。
      li 裁判長信箱:qsc86049@yahoo.com.tw
      li 除非有連線、裝置等異常,對戰隊伍於遊戲等待室內禁止進行打字對話,遊戲進行中可以進行禮貌性文字交談(ex:gg,GG,gl,hf,安安),過多交談將視為干擾比賽進行之行為,隊員間交談則不設限。
      li 禁止情緒化的字眼與侮辱行為,裁判視情況可以判定該隊伍失格。
      li 任何有關於遊戲公平性等問題,可藉由「第七屆中央校園電競大賽-問題舉報」頁面與裁判聯絡。
      li 禁止開啟直播頻道,避免舞弊情況發生。
    h2.ui.header 五.斷線處理
    ul
      li 由裁判判定認為因選手的動作而導致遊戲斷線,將判定該選手失去資格或繼續比賽。
      li 倘若於比賽中遇到不可抗力之因素(如:網路斷線、電力中斷等)導致遊戲連線中斷而非蓄意中離,經申訴後裁判有權視當時戰況裁定勝負或重賽。
      li 若遇爭議判決,經由裁判長匯集裁判組進行判決討論,討論過後即公布最後賽事判決裁定,賽事記錄將以現場最後裁定為準,比賽雙方不得異議。
    h2.ui.header 六.比賽結果
    p 比賽結果一律以「第七屆中央校園電競大賽-賽事中心」公告為準。
    h2.ui.header 七.不正當比賽行為
    p 選手一旦被裁判認定有「不正當的比賽行為」時,該選手將被立即取消任何參賽資格與權益,且「第七屆中央校園電競大賽-賽事中心」將不予以任何退費服務。
    p 以下行為將被判定為不正當的比賽行為:
    ul
      li 使用任何外掛程式、輔助程式
      li 故意製造斷線、延宕賽事進行
      li 使用不符合比賽規則的遊戲設定
      li 比賽進行中出現不允許或非必要的行為,如下所示:
      ul
        li 發送挑釁用語
        li 任何違反運動家精神之行為
      li 故意放水,明顯讓對手贏得比賽
      li 選手蓄意使用不公平的遊戲缺陷或軟體漏洞
      li 外界條件正在或已經對選手傳達不公平的有利資訊
