extends layout

block stylesheet
  link(rel='stylesheet', href='/css/register.css')

block content
  #register
    h1 註冊 中央電競大賽
    p 凡是與中央大學有直接或間接關係者皆可以加入會員
    .ui.breadcrumb
      a.section(href='/login') 登入
      .divider /
      .active.section 註冊
    if error != ""
      .ui.error.message= error
    form#form-reg.ui.form(method='post', action='/register')
      .field
        label 電子郵件
        input(type='email', name='email', placeholder='電子郵件')
      .two.fields
        .field
          label 密碼
          input(type='password', name='password', placeholder='密碼')
        .field
          label 請再次輸入你的密碼
          input(type='password', name='password2', placeholder='請再次輸入你的密碼')

      .ui.horizontal.divider 個人資訊

      .field
        label 姓名
        input(type='text', name='name', placeholder='姓名')
      .two.fields
        .field
          label 系所
          .ui.selection.dropdown
            input(type='hidden', name='department')
            .default.text 系所
            i.dropdown.icon
            .menu
              .item(data-value="1") 校外人士
              .item(data-value="2") 中國文學系
              .item(data-value="3") 英美語文學系
              .item(data-value="4") 法國語文學系
              .item(data-value="5") 理學院學士班
              .item(data-value="6") 物理學系
              .item(data-value="7") 數學系
              .item(data-value="8") 化學學系
              .item(data-value="9") 生命科學系
              .item(data-value="10") 光電科學與工程學系
              .item(data-value="11") 化學工程與材料工程學系
              .item(data-value="12") 土木工程學系
              .item(data-value="13") 機械工程學系
              .item(data-value="14") 企業管理學系
              .item(data-value="15") 資訊管理學系
              .item(data-value="16") 財務金融學系
              .item(data-value="17") 經濟學系
              .item(data-value="18") 電機工程學系
              .item(data-value="19") 資訊工程學系
              .item(data-value="20") 通訊工程學系
              .item(data-value="21") 地球科學學系
              .item(data-value="22") 大氣科學學系
        .field
          label 年級
          .ui.selection.dropdown
            input(type='hidden', name='grade')
            .default.text 年級
            i.dropdown.icon
            .menu
              .item(data-value="1") 1年級
              .item(data-value="2") 2年級
              .item(data-value="3") 3年級
              .item(data-value="4") 4年級
              .item(data-value="5") 碩士
              .item(data-value="6") 博士
      .two.fields
        .field
          label 手機號碼
          input(type='text', name='phone', placeholder='手機號碼')
        .field
          label 學號
          input(type='text', name='studentid', placeholder='學號')
      .ui.message
        | 按下註冊視同已閱讀
        a(href='/participation_help', target="_blank") 報名須知
      #btn-submit.ui.blue.submit.button 註冊
      .ui.error.message
block javascript
  script(src='/js/register.js')
