extends layout

block stylesheet
  link(rel='stylesheet', href='/css/rules.css')

block content
  .container
    h1.ui.center.aligned.header
      i.trophy.icon
      | A.V.A 戰地之王-賽程與賽制
    .ui.huge.breadcrumb
      .active.section 預賽：
      .section 將所有隊伍隨機分為A、B兩小組，A、B小組內各自進行循環賽，採用BO1賽制，線上賽。
      br
      br
      .section ※所有預賽結束後，A、B小組內各自依據：總勝場數(比多)>總勝利回合數(比多)>總敗回和數(比少)，排列出A、B小組內的隊伍排名，小組前兩名的隊伍將可晉級複賽。 
      br
      br
      .active.section 複賽：
      .section A組第一打B組第二，A組第二打B組第一，比賽結束後分出勝部兩隊與敗部兩隊，採用BO3賽制，線上賽。
      br
      br
      .active.section 決賽：
      .section 複賽勝部進行冠亞賽，敗部則進行季殿賽，採用BO5賽制，現場賽。
    h1.ui.center.aligned.header
      i.sitemap.icon
      | A.V.A 戰地之王-規則
    ol(style="font-size:18px;")

      li 比賽可以使用任何裝備。(無禁槍)
      li 比賽模式：『爆破模式』進行5 VS 5 競賽。
      li 勝利條件：13回合搶7勝，至第7回合時攻守交換。
      li 比賽地圖：獵狐行動、重錘強擊、雙重火網、沉默禁地、生化危機、核武風暴、火鳥之心、藥命效應。
      li AB分組抽籤：從所有報名中隨機分成A、B兩小組。
      li 地圖抽籤：複賽時，由兩隊隊長參與抽籤實況，確保公正性，抽出3張地圖；決賽時，將由兩隊隊長現場輪流抽出比賽地圖，兩方隊長以猜拳決定抽圖先後次序。預賽直接選擇人氣隨機爆破地圖。
      li 攻守方決定：由比賽裁判事先進行抽籤，抽中的一隊享有第一張地圖攻守先後決定權，而後每張地圖攻守順序對調。若選手有遲到之情形，則另一方直接享有攻守決定權。
      li 暫停處理：暫停要求方法：選手全頻打字輸入55555(五個數字五)，待裁判准許後即會輸入sssssssssssss(一大串S)。
      li 比賽房間設定：
        table(border=1)
          tr
            td 項目
            td 設定
          tr
            td 最大人數
            td 10人
          tr
            td 我軍傷害
            td 全部允許
          tr
            td 允許觀戰
            td 允許(僅供裁判及賽評判決)
          tr
            td 遊戲中途加入
            td 允許
          tr
            td 死亡者聊天
            td 無法
          tr
            td 自動平衡隊伍
            td 無法
          tr
            td 第三人稱觀看
            td 無法
          tr
            td 禁止使用投擲武器
            td 無法

      li 斷線處理：一旦比賽開始進行且有傷害值產生，將繼續比賽直到比賽勝負出爐，並不會因為有人斷線而暫停或中止。若有三位以上的選手斷線，經裁判判定後，可重賽該回合比賽。
      li 一旦比賽開始，中途不可再換候補上場，若有選手斷線，只能使用該斷線選手帳號重新加入比賽，要替換候補選手請於賽前選定，如有違反，即判失格棄權。
      li 所有比賽於台灣伺服器進行。
      li 所有比賽前15分鐘若有選手未到賽，其餘隊員可以選擇棄權或繼續等待，遲到以10分鐘內計，一旦超過規定時間的10分鐘後，仍有選手未到賽，則判該隊伍該場賽事為輸，但兩隊仍須完成該場比賽。
      li 倘若於比賽中遇到不可抗拒之因素(網路伺服器斷線、電力中斷...等)導致遊戲連線中斷，裁判有權視當時戰況裁定勝負或重賽。
      li 因嚴重因素導致比賽無法繼續，主辦單位將暫停所有賽事進行。當日未完成之賽事，主辦單位將擇期舉辦補賽。
      li 現場賽時，若選手電腦硬體配備(包含:螢幕、主機、鍵盤、滑鼠、耳機、鼠墊)或不可抗力情事(網路突然 LAG...等)於比賽中發生，導致影響賽事進行，且非選手個人疏失，選手得即時申請暫停並要求排除，於障礙排除後比賽繼續進行，該局成績仍列入計算，若經裁判判定為惡意干擾比賽時，將記警告乙次，嚴重者得直接判該回合落敗。若障礙無法排除，裁判得視現場情況判定重賽或繼續進行。
      li 現場賽時，每場比賽前皆有20分鐘供選手進行軟硬體設定，選手可自行更換「滑鼠、鍵盤、耳機、鼠墊」四項配備。
      li 現場賽時，提早到場之隊伍，可享有多餘的10分鐘進行設備熟悉與熱槍等動作，依到場順序(全員到齊才算)安排先後次序，直至賽程開始。
      li 軟體部分選手只能夠進行滑鼠、鍵盤、耳機的驅動程式設定與安裝，禁止裝設其他軟體，也禁止使用任何可程式化或以韌體定義功能鍵之軟硬體。
      li 選手可更改 Windows滑鼠、鍵盤靈敏度，In game(遊戲中) 滑鼠、鍵盤靈敏度，其他項目禁止進行變更。
      li 現場賽時，若比賽開始後 5 分鐘內，有選手發生網路持續 Lag 的情況，選手可舉手向裁判反應，裁判確認情況屬實後方可重賽。
      li 比賽中若裁判未提出賽事暫停需求，選手不得擅自停止比賽，違者判處警告乙次。
      li 裁判若提出賽事暫停需求,兩方選手必須雙手離開鍵盤滑鼠，等候裁判指令，裁判尚未裁定比賽開始前，所進行之賽事紀錄皆不列入比賽紀錄。
      li 若遇爭議判決，裁判要求選手或選手代表聽取判決說明，選手需於 30 秒內至裁判席集合，超過時間視同放棄自身權利，不得異議。
      li 遇爭議判決，經由裁判長匯集裁判組進行判決討論，討論過後即公布最後賽事判決裁定，賽事記錄將以現場最後裁定為準，比賽雙方不得異議。
      li 判決爭議經由現場裁定不得變更後，若仍對此判決有爭議之選手或選手代表，可於賽後向主辦單位提出申訴。
      li 比賽時不得離開座位,若有特殊狀況得經裁判同意後離席，但須於比賽當回合結束後才能回到座位上，違反者得記警告乙次。
      li 惡意洗頻、打字謾罵、人身攻擊、鞭屍或是做出刻意不拆C4拖延比賽時間等等情形者，得記警告乙次。
      li 隊伍中，累計警告兩次(含)以上，則判定該隊伍失去比賽資格。
      li 如發現任何影響遊戲公平性(使用外掛...等)或違反運動家精神(線上或現場辱罵對手或裁判...等)之行為，將直接判定該隊伍失格。
      li 為避免爭議與確保選手之權益，比賽皆會由裁判截圖或錄影，選手若擔心或有疑慮，可以自己做截圖或錄影的動作，但嚴禁私自開台直播，違者直接判定該隊伍失格。
      li 上述規則無提及之事項，則以裁判之判決為主。
      br
    .section(style="font-size:20px;") ※以上賽程、賽制與規則，主辦單位保有增加、減少、刪去……等更動的權利。