extends layout

block stylesheet
  link(rel='stylesheet', href='/css/rules.css')

block content
  .container
    h1.ui.center.aligned.header
      i.trophy.icon
      | 爐石戰記-賽制
    .ui.huge.breadcrumb
      .active.section 隊伍上限：
      .section 無上限
      br
      br
      .active.section 賽制：
      .section 比賽分為線上初賽,線上複賽,線下決賽。
      br
      .active.section 線上初賽：
      .section 採用 bo3 小組循環賽。分４組取前兩名晉級。
      br
      .active.section 線上複賽：
      .section 採用 bo5 單淘汰賽制。
      br
      .active.section 線下決賽：
      .section 採用 bo5 單淘汰賽制。
      br
      br
      .active.section 初賽採用小組賽，有疑慮時採用下列細項：
      br
      .section A. 對戰勝負關係判定晉級(2:1 與 2:0 皆為勝方,無高低之分)。
      br
      .section B. 3人以上勝負關係皆互咬之情況下,則比較積分高低(積分計算=總勝場數-總敗場數),比較完積分後,再依 A 項規則判定晉級選手。
    h1.ui.center.aligned.header
      i.sitemap.icon
      | 爐石戰記-規則
    h2.ui.header 一、通則
    ol(style="font-size:18px;")
      li 賽事伺服器:台灣
      li 比賽型式:1v1
      li 牌組與卡牌無任何限制。
      li 雙方同時將出戰職業交予裁判,需要四個職業,每一職業對應一副牌組,初賽時只需繳交職業即可,複賽開始則需要同時繳交職業與牌組。
      li 比賽採用事先 ban 牌制，賽前要 ban 對手四個職業中的一個，使用剩下的三個職業進行比賽。敗方可選擇更換牌組或繼續使用相同牌組，勝方則要替換牌組，勝利的牌組不可重複使用，直到分出勝負。
      li 賽事進行中禁止調整牌組。
      li 禁止使用非標準的遊戲設定或影響遊戲之外掛程式。
      li 裁判負責主持賽事,私自進行之賽事將不被認可。
      li 若選手於賽事進行時斷線,待裁判查明情況,此時會根據斷線性質選擇下列其中一種做法:
        ol(style="font-size:16px;")
          li 斷線選手需立即重新連線恢復賽事,唯等待時間以不超過 5 分鐘為限。
          li 判定選手獲勝或喪失資格。
          li 判定重賽。
      li 比賽前需要加裁判為好友,且在賽前 15 分鐘內向裁判報到,否則判定棄權,如有不可抗力因素導致無法準時進行比賽,須向裁判事先報備,決議賽事延後或改期。
    h2.ui.header 二、線下賽事
    ol(style="font-size:18px;")
      li 選手必須於主辦單位之指定時間至現場報到,遲到超過十分鐘則視為棄權。
      li 主辦單位有權禁止任何電子儲存裝置,請事先詢問主辦單位的規則。
      li 選手可以攜帶個人設備:iPad、滑鼠、鍵盤、耳機、鼠墊。
      li 所有設備必須與 Windows 內建的驅動程式相容。選手可使用經主辦單位認可的特定 USB 驅動程式 (ex: 滑鼠、耳機),想使用特定 USB 驅動程式的選手必須於賽前告知主辦單位。
      li 若設備有提供優勢的嫌疑,主辦單位保留禁用該設備的權利。
      li 未獲得主辦單位許可,不可安裝任何影響遊戲進行之程式。
      li 在比賽途中,選手除了遊戲外,不可使用其他應用程式、瀏覽器或轉播。
      li 選手不可更改遊戲檔案或變動驅動程式。
    h2.ui.header 三、注意事項
    ol(style="font-size:18px;")
      li 選手必須使用自己的 Battle.net 帳號。
      li 若於比賽中遇到不可抗力之因素(如:網路斷線、電力中斷...等)而中斷比賽,裁判有權依據情況行使公平裁定之權力
      li 若選手在沒有告知主辦單位的情況下棄權或無法參賽多於一次,主辦單位有權禁止該選手參加其後之賽事。
      li 主辦單位在發現任何有影響比賽公平性之虞之作弊行為、技術疏失或其他因素之下,保留刪除或修改本條約之權力。
      li 任何對於規則衝突所導致之意見或異議必須以合理的態度直接回報裁判,裁判將決定出最後判決。
      li 參賽者須同意接受本條約規範,參賽者若出現違規之行為將會被取消資格,裁判對比賽判決擁有絕對之權力,參賽者必須無條件服從裁判指示。
