extends layout

block stylesheet
  link(rel='stylesheet', href='/css/rules.css')

block content
  .container
    h1.ui.center.aligned.header
      i.trophy.icon
      | A.V.A 戰地之王-賽制
    .ui.huge.breadcrumb
      .active.section 隊伍上限：
      .section 16 隊
      br
      .active.section 比賽地圖(同天梯地圖)：
      .section 獵狐行動、重錘強擊、雙重火網、沉默禁地、生化危機、核武風暴、火鳥之心、藥命效應。
      br
      .active.section 賽制：
      .section 小組循環後，取勝分前8強進行樹狀淘汰賽bo3，季殿賽bo5，冠亞賽bo5。
      br
      .active.section 循環賽後積分同者視：
      br
      .section A. 總得分數(擊殺得分+拆解/爆破炸彈得分)。
      br
      .section B. 死亡數較少。
      br
      .section 來判定最終勝負。
      br
      .active.section 違規處理：
      .section 若裁判發現某隊伍使用禁用物品,則該隊該場次直接判敗,且失去比賽資格。若參賽隊伍沒立即在比賽中提出疑慮,則必須服從比賽最終結果。
    h1.ui.center.aligned.header
      i.sitemap.icon
      | A.V.A 戰地之王-規則
    ol(style="font-size:18px;")
      li 勝利條件:13 回合搶 7 勝,回合數總和到達 6 時攻守交換(但到總和 12 回合時將不交換)。
      li 斷線處理:一旦比賽開始進行,將繼續比賽直到比賽勝負出爐,並不會因為有人斷線而暫停或中止。若有三位以上的選手斷線,經裁判判定後,可重賽。
      li 禁用裝備:不限。
      li 禁用槍枝:不限。
      li 禁用投擲武器:南瓜、鮮炸爆彈西瓜、燙馬鈴薯、NG 馬鈴薯、粽子手榴彈、精靈手榴彈、伊娃手榴彈、蕾手榴彈。
      li 投擲道具規定:煙霧彈限定攜帶一顆。
      li 比賽於台灣伺服器進行。
      li 線下賽時,比賽前 15 分鐘若有選手未到賽,其餘隊員可以選擇棄權或繼續等待,帶比賽開始時可以選擇棄權或者仍然進行比賽。
      li 線下賽時,比賽選手若遇其他不可預期之事項而無法準時到場時,請事先與主辦單位連繫。
      li 線下賽時,若比賽開始前 15 分鐘內有一選手因不可抗力之因素無法到場,有事先告知並提出證明,主辦單位得經會議討論裁決是否於當日等候選手到場後進行比賽,或將比賽改期。
      li 倘若於比賽中遇到不可抗拒之因素(網路斷線、電力中斷...等)導致遊戲連線中斷,裁判有權視當時戰況裁定勝負或重賽。
      li 線下賽時,若選手電腦硬體配備(包含:螢幕、主機、鍵盤、滑鼠、耳機、鼠墊)或不可抗力情事(網路突然 LAG...等)於比賽中發生,導致影響賽事進行,且非選手個人疏失,選手得即時暫停並要求排除,於障礙排除後比賽繼續進行,該局成績仍列入計算,若經裁判判定為惡意干擾比賽時,將記警告一次,嚴重者得直接判該回合落敗。若障礙無法排除,裁判得視現場情況判定重賽或繼續進行。
      li 若因前項因素導致比賽無法繼續,主辦單位將暫停所有賽事進行。當日未完成之賽事,主辦單位將擇期舉辦補賽。
      li 線下賽時,每場比賽前皆有 10 分鐘進行軟硬體設定,選手可自行更換「滑鼠、鍵盤、耳機、鼠墊」四項配備。
      li 軟體部分選手只能夠進行滑鼠、鍵盤、耳機的驅動程式設定與安裝,禁止裝設其他軟體,也禁止使用任何可程式化或以韌體定義功能鍵之軟硬體。
      li 選手可更改 Windows 滑鼠、鍵盤靈敏度,In game 滑鼠、鍵盤靈敏度,其他項目禁止進行變更。
      li 線下賽時,若比賽開始後 5 分鐘內,有選手發生網路持續 Lag 的情況,選手可舉手向裁判反應,裁判確認情況屬實後方可重賽。
      li 比賽中若裁判未提出賽事暫停需求,選手不得擅自停止比賽,違者判處警告一次。
      li 裁判若提出賽事暫停需求,兩方選手必須雙手離開鍵盤滑鼠,等候裁判指令,裁判尚未裁定比賽開始前,所進行之賽事紀錄皆不列入比賽紀錄。
      li 若遇爭議判決,裁判要求選手或選手代表聽取判決說明,選手需於 30 秒內至裁判席集合,超過時間視同放棄自身權利,不得異議。
      li 若遇爭議判決,經由裁判長匯集裁判組進行判決討論,討論過後即公布最後賽事判決裁定,賽事記錄將以現場最後裁定為準,比賽雙方不得異議。
      li 判決爭議經由現場裁定不得變更後,若仍對此判決有爭議之選手或選手代表,可於賽後向主辦單位提出申訴。
      li 比賽時不得離開座位,若有特殊狀況得經裁判同意後離席,但須於比賽當回合結束後才能回到座位上,違反者得記黃牌警告一次。
      li 警告兩次(含)以上,則判定失去比賽資格。
      li 如發現任何影響遊戲公平性(使用外掛...等)或違反運動家精神(辱罵對手或裁判...等)之行為,將直接判定該隊伍失格。
      li 上述規則無提及之事項,則以裁判之判決為主。
