extends layout

block stylesheet
  link(rel='stylesheet', href='/css/rules.css')

block content
  .container
    h1.ui.center.aligned.header
      i.trophy.icon
      | OVERWATCH 鬥陣特攻-賽程與賽制
    .ui.huge.breadcrumb
      .active.section 預賽：
      .section 將所有隊伍隨機分小組，小組內各自進行循環賽，採用BO3賽制，地圖採抽籤制，線上約戰制。(將隊伍平均分配於各小組內，如一組內大於五隊則加開C組，類推。)(組內2~3隊取一隊晉級複賽、4~5隊取兩隊，視情況從組內增減，至少四隊至多八隊晉級複賽。)

      br
      br
      .active.section 複賽：
      .section 將晉級隊伍隨機分小組，小組內各自進行循環賽，採用BO3賽制，地圖採抽籤制，線上約戰制。(組內至多4隊，取組內排名較高者，共取4隊晉級複賽。)
      br
      br
      .active.section 決賽：
      .section 複賽小組排名最佳兩隊進行冠亞賽，次佳兩隊進行季殿賽，採用BO5賽制，地圖採BAN圖制，線下賽。
      br
      br
    .section(style="font-size:20px;") ※若總報名隊伍低於四隊，將另行更改並公布賽制。
    h1.ui.center.aligned.header
      i.sitemap.icon
      | OVERWATCH 鬥陣特攻-規則
    ol(style="font-size:18px;")

      li 隊伍組成
      ol
        li 每隊須有6個隊員(其中一位為隊長)，可有1名隊員為替補，如約戰時發現隊伍名單有誤請截圖告知裁判。
        li 賽事開始後無法替換隊伍成員，如有改名請改名前知會裁判以確認是否為同一支帳號。

      li 參賽者
      ol
        li 參加者在此次賽事中只得一隊作賽。
        li 所有玩家均有責任將比賽結果擷圖(應含兩隊成員以及戰勝之字樣， 按TAB)，如約戰結果有爭議將以截圖為證交由裁判裁定。

      li 地圖選擇
      ol
        li 所有地圖均能使用。
        li 如發現破壞遊戲之bug，大賽保留禁止使用該地圖之權利。
        li 初、複賽比賽地圖(全隨機抽籤)以及加賽地圖(控制地圖)皆事先抽籤決定
        li BO賽事完結比分仍相同，才得使用加賽地圖。
        li 第一張地圖攻守選擇權由抽籤決定，若選手有遲到之情形，則另一方直接享有攻守決定權。
        li 上一地圖敗北之隊伍能決定下一張地圖先攻先守。
        li 決賽以 http://owdraft.com/ 提供之 ban/pick 方式決定比賽地圖。
        li 先於現場報到完畢之隊伍擁有先 ban 權。
        li 擁有最後一次 ban 的隊伍會以此 ban 決定比賽地圖先後次序。
        li 如為攻擊/防禦制地圖，非選擇地圖之隊伍可決定先攻或先守，在上一地圖敗北之隊伍能決定下一張地圖先攻先守。
      
      li 英雄
      ol
        li 所有英雄均能使用。
        li 如發現破壞遊戲之bug，大賽保留禁止使用該英雄之權利。

      li 晉級
      ol
        li 階段賽結束後，小組內各自依據：總勝場數(比多)>隊伍勝負(同總勝場數)>總地圖數(比少)，排列出小組內的隊伍排名，小組前一到兩名的隊伍將可晉級下一階段賽事。
        li BO賽事完結比分仍相同，則加開控制地圖BO1決定(加賽地圖)。
        li 以上方式仍無法得出小組內排名，則加開控制地圖BO1決定(抽籤決定)

      li 自訂遊戲設定：約戰時由任一隊之隊長創立
      ol
        li 地圖：單一地圖
        li 模式：設定>預載規則>競技對戰
        li 回到大廳：護送及佔領任務 = After a mirror match/Control = 每局遊戲之後
        li 取消擊殺鏡頭：開
        li 其他設定：預設
        li 觀戰：只有比賽主辦方及裁判能加入旁觀(約戰時請設為關閉)。
        li 遊戲版本為官方最新版。

      li 約戰
      ol
        li 初賽、複賽採取約戰制，由雙方隊長在賽事期間內自行協調決定雙方比賽時間。
        li 約戰請提前回報裁判確切對戰時間，若超過三天沒回報，主辦單位會主動告知，若超過賽事時間仍未完成對戰，則該賽事雙方所有賽事戰績將全數列為敗績。
        li 如遇消極不約戰的隊伍，請提早回報狀況，並將證明截圖(對話紀錄等等)一併提供給裁判，以利查證，消極不約戰的隊伍則判定該場 -1 分。
        li 比賽結果應於三天內向裁判報告。

      li 報告結果
      ol
        li 如 2.2 所列，所有玩家均有責任將比賽結果截圖。
        li 勝出隊伍之隊長須將結果附截圖向裁判報告(範例 http://imgur.com/a/O8WyX)。
        li 如對比賽結果有異議，則交由裁判裁定。

      li 斷線處理
      ol 
        li 線上賽一旦比賽開始進行將繼續比賽直到該地圖勝負出爐，並不會因為有人斷線而暫停或中止。若有三位以上的選手斷線，回報裁判後，可自行重賽該地圖比賽，重賽以一次為限。
        li 一旦比賽開始，中途不可再換候補上場，若有選手斷線，只能使用該斷線選手帳號重新加入比賽，要替換候補選手請於賽前選定，如有違反，即判失格棄權。
        li 所有比賽於亞洲伺服器進行。
        li 所有比賽前 15 分鐘若有選手未到賽，其餘隊員可以選擇棄權或繼續等待，遲到以 10 分鐘內計，一旦超過規定時間的 10 分鐘後，仍有選手未到賽，則判該隊伍該場賽事為輸，但兩隊仍須完成該場比賽。
        li 倘若於比賽中遇到不可抗拒之因素(網路伺服器斷線、電力中斷...等)導致遊戲連線中斷，請回報裁判並自行重賽，以一次重賽為限。
        li 因嚴重因素導致比賽無法繼續，主辦單位將暫停所有賽事進行。當日未完成之賽事，主辦單位將擇期舉辦補賽。
        li 現場賽時，若選手電腦硬體配備(包含:螢幕、主機、鍵盤、滑鼠、耳機、鼠墊)或不可抗力情事(網路突然 LAG...等)於比賽中發生，導致影響賽事進行，且非選手個人疏失，選手得即時申請暫停並要求排除，於障礙排除後比賽繼續進行，該局成績仍列入計算，若經裁判判定為惡意干擾比賽時，將記警告乙次，嚴重者得直接判該地圖落敗。若障礙無法排除，裁判得視現場情況判定重賽或繼續進行。
      
      li 現場賽
      ol
        li 現場賽時，提早到場之隊伍，可享有多餘的 10 分鐘進行設備熟悉與熱槍等動作，依到場順序(全員到齊才算)安排先後次序，直至賽程開始。
        li 現場賽時，每場比賽前皆有 20 分鐘供選手進行軟硬體設定，選手可自行更換「滑鼠、鍵盤、耳機、鼠墊」四項配備。
        li 軟體部分選手只能夠進行滑鼠、鍵盤、耳機的驅動程式設定與安裝，禁止裝設其他軟體，也禁止使用任何可程式化或以韌體定義功能鍵之軟硬體。
        li 選手可更改 Windows 滑鼠、鍵盤靈敏度，In game(遊戲中) 滑鼠、鍵盤靈敏度，其他項目禁止進行變更。
        li 現場賽時，若比賽開始後 5 分鐘內，有選手發生網路持續 Lag 的情況，選手可舉手向裁判反應，裁判確認情況屬實後方可重賽。
        li 比賽中若裁判未提出賽事暫停需求，選手不得擅自停止比賽，違者判處警告乙次。
        li 裁判若提出賽事暫停需求，兩方選手必須雙手離開鍵盤滑鼠，等候裁判指令，裁判尚未裁定比賽開始前，所進行之賽事紀錄皆不列入比賽紀錄。
        li 若遇爭議判決，裁判要求選手或選手代表聽取判決說明，選手需於 30 秒內至裁判席集合，超過時間視同放棄自身權利，不得異議。
        li 遇爭議判決，經由裁判長匯集裁判組進行判決討論，討論過後即公布最後賽事判決裁定，賽事記錄將以現場最後裁定為準，比賽雙方不得異議。
        li 判決爭議經由現場裁定不得變更後，若仍對此判決有爭議之選手或選手代表，可於賽後向主辦單位提出申訴。
        li 比賽時不得離開座位,若有特殊狀況得經裁判同意後離席，但須於比賽當回合結束後才能回到座位上，違反者得記警告乙次。
        li 惡意洗頻、打字謾罵、人身攻擊等等情形者，得記警告乙次。
        li 隊伍中，累計警告兩次(含)以上，則判定該隊伍失去比賽資格。
        li 如發現任何影響遊戲公平性(使用外掛...等)或違反運動家精神(線上或現場辱罵對手或裁判...等)之行為，將直接判定該隊伍失格。
        li 上述規則無提及之事項，則以裁判之判決為主。
      br
      br
    .section(style="font-size:20px;") ※以上賽程、賽制與規則，主辦單位保有增加、減少、刪去……等更動的權利。