extends layout

block stylesheet
  link(rel='stylesheet', href='/css/rules.css')

block content
  .container
    h1.ui.center.aligned.header
      i.trophy.icon
      | 星海爭霸-賽制
    .ui.huge.breadcrumb
      .active.section 隊伍上限：
      .section 16 隊
      br
      .active.section 比賽地圖：
      ul.nomargin(style="font-size:18px;")
        li 瓦尼研究站
        li 密淋濕地 – 天梯版
        li 神秘之泉
        li 迷途長征
        li 卡塔雷娜 – 天梯版
        li 滅絕之翼 – 天梯版
        li 煉獄之池
      .active.section 初賽、複賽：
      .section bo3小組積分循環賽，分2組(A、B組)進行積分循環賽，每組取積分加總前2名的選手進入四強決賽。
      br
      .active.section 積分計算方式：
      .section 以每場循環賽的比分為主，獲勝得+2分、落敗得-1分。選手若以2：0獲勝，則得積分4分，以此類推。若遇到積分相同的狀況，則以2位選手的循環賽對戰做為判斷，對戰獲勝者即勝出。
      br
      .active.section 四強賽：
      .section bo3單淘汰賽制。
      br
      .active.section 季殿賽：
      .section bo3賽制。
      br
      .active.section 冠亞賽：
      .section bo5賽制。
      br
      .active.section 賽事地圖：
      .section 由主辦單位抽取第一張地圖，敗者選第二張。
      br
      .ui.warning.message
        | 若因時間因素，裁判有權立即更改賽制，並於比賽開始前通知選手，不得異議。
    h1.ui.center.aligned.header
      i.sitemap.icon
      | 星海爭霸-規則
    ol(style="font-size:18px;")
      li 比賽模式:1v1。
      li 比賽採取單場三戰兩勝制(bo3)。
      li 比賽伺服器:臺灣
      li 種族選擇採自由選擇,亦可選擇「隨機(Random)」。
      li 勝利者:徹底消滅對手,或是對手投降退出遊戲,如比賽期間因各種原因導致雙方陷入僵持無法分出勝負,裁判有權於觀看錄像檔後決定勝利方或重賽。
      li 線下賽時,若比賽開始前 15 分鐘比賽選手未到場,且又未事先通知主辦單位者,裁判得以裁定該選手該場次落敗,並由另一選手獲勝。
      li 線下賽時,比賽選手若遇其他不可預期之事項而無法準時到場時,請事先與主辦單位連繫。
      li 線下賽時,若比賽開始前 15 分鐘內有一選手因不可抗力之因素無法到場,有事先告知並提出證明,大賽得經會議討論裁決是否於當日等候選手到場後進行比賽,或將比賽改期。
      li 倘若於比賽中遇到不可抗拒之因素(網路斷線、電力中斷...等)導致遊戲中斷,裁判有權視當時戰況裁定勝負或判定重賽。
      li 線下賽時,若選手電腦硬體配備(包含:螢幕、主機、鍵盤、滑鼠、耳機、鼠墊)或不可抗力情事(如非常 Lag...等)於比賽中發生,影響賽事進行,且非選手個人疏失,選手得即時暫停並要求排除,於障礙排除後再繼續進行比賽,該局成績仍列入計算,若經裁判判定為惡意干擾比賽時將記警告一次,嚴重者得直接判定該選手該回合落敗。若障礙無法排除,裁判得視現場情況判定重賽或繼續進行。
      li 若因前項因素導致比賽無法繼續,主辦單位將暫停所有賽事進行。當日未完成之賽事,主辦單位將擇期舉辦補賽。
      li 線下賽時,每場比賽前皆有 10 分鐘進行軟硬體設定,選手可自行更換「滑鼠、鍵盤、耳機、鼠墊」四項配備。
      li 軟體部分,選手只能夠進行滑鼠、鍵盤、耳機的驅動程式設定與安裝,禁止裝設其他軟體,也禁止使用任何可程式化或以韌體定義功能鍵之軟硬體。
      li 選手可更改 Windows 滑鼠、鍵盤靈敏度,In game 滑鼠、鍵盤靈敏度,其他項目禁止進行變更。
      li 線下賽時,若比賽開始後 5 分鐘內,有選手發生網路持續 Lag 的情況,選手可舉手向裁判反應,裁判確認狀況無誤後方可重賽。
      li 比賽中若裁判未提出賽事暫停需求,選手不得擅自停止比賽,違者判處警告一次。
      li 裁判若提出賽事暫停需求,兩方選手必須雙手離開鍵盤滑鼠,等候裁判指令,裁判尚未裁定比賽開始前,所進行之賽事紀錄皆不列入比賽紀錄。
      li 若遇爭議判決,裁判要求選手或選手代表聽取判決說明,選手需於 30 秒內至裁判席集合,超過時間視同放棄自身權利,不得異議。
      li 若遇爭議判決,經由裁判長匯集裁判組進行判決討論,討論過後即公布最後賽事判決裁定,賽事記錄將以現場最後裁定為準,比賽雙方不得異議。
      li 判決爭議經由現場裁定不得變更後,若仍對此判決有爭議之選手或選手代表,可於賽後向主辦單位提出申訴。
      li 比賽時不得離開座位,若有特殊狀況得經裁判同意後離席,但須於比賽當回合結束後才能回到座位上,違反者得記警告一次。
      li 警告兩次(含)以上,則判定失去比賽資格。
      li 如發現任何影響遊戲公平性(使用外掛...等)或違反運動家精神(辱罵對手或裁判...等)之行為,將直接判定該隊伍失格。
      li 上述規則無提及之事項,則以裁判之判決為主。
