extends layout

block stylesheet
  link(rel='stylesheet', href='/css/rules.css')

block content
  .container
    h1.ui.center.aligned.header
      i.trophy.icon
      | 英雄聯盟-賽制
    .ui.huge.breadcrumb
      .active.section 隊伍上限：
      .section 32 隊
      br
      .active.section 比賽地圖：
      .section 召喚峽谷 5v5
      br
      .active.section 比賽模式：
      .section 使用自訂電競選角模式進行5對5的競賽，並將觀察者模式關閉。
      br
      .active.section 初賽：
      .section 將所有隊伍分成數個小組，進行循環賽，取分組第一晉級(會因隊伍總數進行調整)。
      br
      .active.section 複賽：
      .section 採 bo3，將會有十個隊伍進入複賽，十取五之後，會再取目前淨勝場最低的兩個個隊伍進行bo3取其一，最後剩四隊進行抽 籤兩兩一隊，再次進行bo3以決定哪兩隊進冠亞哪兩隊進季殿。
      br
      .active.section 季殿軍：
      .section 採取 bo3
      br
      .active.section 冠亞軍：
      .section 採取 bo3
      br
      .active.section 隊伍配對：
      .section 由主辦單位進行抽籤。
      br
      .active.section 決定藍紫方：
      .section 分組抽籤時將一起抽出,隨後每局交換藍紫方。
      br
      .active.section 選手人數：
      .section 一隊最多可以六名選手，五名正式選手，一名候補選手。
      br
      .active.section 比賽時間：
      br
      .section 預賽：3/7(一)～3/15(二)
      br 
      .section 複賽：3/17(四)～3/24(四)
      br 
      .section 決賽：3/26(六)～3/27(日)
      br
      .active.section 比賽伺服器：
      .section 台港澳伺服器
    h1.ui.center.aligned.header
      i.sitemap.icon
      | 英雄聯盟-規則
    ol(style="font-size:18px;")
      li 於比賽限制60分鐘內，摧毀敵方水晶主堡或迫使對方投降。超過比賽限制時間 60 分鐘後，裁判將以雙方殺敵英雄數及擊毀敵方防衛塔數做為最後勝敗標準。(1擊殺數 1 分，1 擊毀敵方防衛塔數 3 分。)
      li 比賽進入Ban/Pick畫面時將視同為遊戲開始，且除重大事件外雙方選手皆不得離席(此為線下賽，線上賽為不能使遊戲跳出)，違者判警告一次；每隊當日比賽皆有<mark>兩次警告機會</mark>，第三次警告裁判有權判該選手所屬隊伍喪失參賽資格。(警告次數以隊伍記，隔日若有重複參賽則重新計算。)
      li 選手輪替的部分，可在此局結束與下局開始前進行更換，須由隊長提前告知主辦單位，但不可在比賽進行到一半時更換，違者失去比賽資格。
      li 比賽時間由主辦單位統一安排，初賽部分，如果時間上，有不可抗力的因素導致無法如期出賽(上課、考試…等)，請於賽前三天，自行與對手另外約定比賽時間，並將結果通知主辦單位，如果雙方時間無法調整，則依照原訂時間比賽，無法出賽則視同放棄比賽，將判定由對手獲得勝利；複賽部分，如要修改比賽時間，請盡速向主辦單位告知，由主辦單位進行雙方的聯絡；決賽部分，恕無法修改比賽時間，報名時請確定能準時出席決賽。
      li 如於比賽當天發生突發狀況(家裡臨時有事、身體不舒服…等)影響出賽，請盡快與主辦單位聯絡。
      li 勝負判定：摧毀對方主堡，即拿下該局勝利。
      li 比賽時，若<mark>遲到 10 分鐘</mark>，則視為放棄比賽，由對方拿下勝利(此規定將確實執行)。
      li 決賽時，每局賽事開始前，有十分鐘進行戰術討論、調整設備等。
      li 角色選擇則依據當前版本有無 Auto Ban 的角色，若無，則全角色皆開放選擇。
      li 比賽時若發生斷網、斷電等導致遊戲中斷，進而<mark>無法重連</mark>的情況時，遊戲時間 20 分鐘內的比賽將進行重賽，遊戲時間超過 20 分鐘的比賽，若滿足以下任一條件時，裁判有權直接判決比賽勝負：
        ol(style="font-size:16px; list-style-type:upper-alpha;")
          li 團隊經濟差距大於10K。
          li 人頭差距大於15個。
          li 剩餘防禦塔差距大於7座。
      li 比賽時若發生斷網、斷電等導致遊戲中斷，但可以重連的情況下，若系統預設的 30 分鐘的暫停時間尚未消耗完畢之前，需等待所有選手重新連回遊戲後再繼續進行比賽，若系統預設的 30 分鐘暫停時間已消耗完畢時，雙方隊伍必須以現況繼續進行比賽，且不會重賽。
      li 若比賽開始後五分鐘內，有持續發生網路不穩、遊戲崩潰等影響比賽進行的情況，請立即告知主辦單位，若狀況屬實，則重賽，至於禁選角部分則維持不變。
      li 暫停：
        ol(style="font-size:16px; list-style-type:upper-alpha;")
          li 主辦單位有權因任何狀況要求暫停比賽，選手需無條件配合，並進行暫停作業。
          li 比賽期間選手如遇以下緊急狀況，可立即使用暫停(/pause)指令，且暫停後需立即告知裁判暫停之原因。
        ol(style="font-size:16px; list-style-type:upper-alpha;") <br/><br/>如未符合上述情形而任意使用遊戲暫停者將計警告一次，當天若<mark>累積三次警告則取消參賽資格</mark>（與當天其他警告一併計算）狀況：
          li 賽事硬體突然發生故障。
          li 網路斷線、持續發生延遲嚴重現象。
          li 選手身體突然發生嚴重不適，可能無法進行比賽。
      li 如發現任何<mark>影響遊戲公平性</mark>(使用外掛…等)或<mark>違反運動家精神</mark>(辱罵對手或裁判…等)之行為，將直接判定該<mark>隊伍失格</mark>。
      li 上述規則無提及之事項，則以裁判之判決為主。