extends layout

block stylesheet
  link(rel='stylesheet', href='/css/rules.css')

block content
  .container
    h1.ui.center.aligned.header
      i.trophy.icon
      | 英雄聯盟-中路單挑大賽-賽制
    .ui.huge.breadcrumb
      .active.section 比賽地圖：
      .section 召喚峽谷
      br
      .active.section 房間設定：
      .section 一般對戰
      br
      .active.section 使用英雄及召喚師等級：
      .section 不限
      br
      .active.section 隊伍配對：
      .section 由主辦單位先依照相同可對戰時段分配再進行抽籤。
      br
      .active.section 選手人數：
      .section 一名。
      br
      .active.section 比賽時間：
      .section 依照主辦單位所安排之賽程進行比賽。
      br
      .active.section 比賽伺服器：
      .section TW
    h1.ui.center.aligned.header
      i.sitemap.icon
      | 英雄聯盟-中路單挑大賽-規則
    ol(style="font-size:18px;")
      li 使用地圖：召喚峽谷 
      li 房間設定：一般對戰 (備註:賽前在房間裡由賽評詢問雙方 輪流BAN角)
      li 使用英雄及召喚師等級：不限 
      li 冠軍賽為三戰兩勝制，其餘賽事一戰定勝負
      li 獲勝條件(滿足其中之一即可)： 
        ol(style="font-size:16px;")
          li 先擊殺對手者獲勝
          li 先摧毀對方外塔者獲勝 
          li 吃兵數達到100者獲勝 
      li 比賽過程中禁止任何形式的吃野怪、大龍、小龍等