extends layout

block stylesheet
  link(rel='stylesheet', href='/css/sponsors.css')
  link(rel='stylesheet', href='/css/sponsors-slider.css')

block content
  div.content-wrapper
    div#slideshow-wrap
      input(type='radio', id='button-1',onclick='pic=1;percentage=0;' name='controls', checked='checked')
      label(for='button-1')
      input(type='radio', id='button-2',onclick='pic=2;percentage=0;' name='controls')
      label(for='button-2')
      input(type='radio', id='button-3',onclick='pic=3;percentage=0;' name='controls')
      label(for='button-3')
      label(for='button-1', class='arrows',id='arrow-1')
      label(for='button-2', class='arrows',id='arrow-2')
      label(for='button-3', class='arrows',id='arrow-3')
      div#slideshow-inner
        ul
          li#slide1
            img(src='/img/lol.jpg')
            div#lolinfo
              h1.title 《英雄聯盟》
              p.
                遊戲中擁有超過 100 位風格迴異的英雄，搭配獨創的「召喚師」系統及周邊技能、符文、天賦等新的系統組合，大幅提升遊戲豐富性，讓扮演召喚師的玩家，能夠針對特定戰術選擇不同英雄與隊友搭配合作，在這個奇幻世界寫下屬於自己團隊的全新傳奇。
          li#slide2
            img(src='/img/hs.jpg')
            div#hearthstoneinfo
              h1.title 《爐石戰記：魔獸英雄傳》
              p.
                收起你的寶劍，拿出你的套牌，準備好迎接爐石戰記：魔獸英雄傳 - 一個快節奏戰術卡牌遊戲，簡單易學又非常好玩。快到 Battle.net 開始免費遊戲，使用你的卡牌來施展法術，召喚生物並指揮魔獸爭霸的英雄進行壯闊的戰術對決吧。
          li#slide3
            img(src='/img/ava.jpg')
            div#avainfo
              h1.title 《A.V.A戰地之王》
              p.
                Alliance of Valiant Arms，簡稱 A.V.A，首款以 Unreal 3 引擎所開發的 FPS 遊戲，結合最擬真的爆破感與最細緻的戰鬥場景，絕對讓你沉浸其中，無法自拔！
      div#progress
    br
    br
    br
    h1.ui.center.aligned.header(style='color: #fff;font-family: 微軟正黑體;')
      i.ui.red.ribbon.label
      | 協辦單位
    div.pure-g.center-group
      div.pure-u-1-2(style='background:#FFF;')
        img(src='/img/logo/blizzard.png', width='400', style='display: block; margin: 0 auto;')
      div.pure-u-1-2
        h1 《暴雪娛樂》
        p.info.
          Blizzard Entertainment® 公司是全球最具影響力的娛樂軟體研發商和發行商之一。自1994年「Blizzard」品牌正式創立以來，公司迅速成長為最受歡迎和廣受業內尊敬的電腦遊戲開發商之一。通過強調精益求精的遊戲設計和其樂無窮的娛樂體驗，Blizzard 公司一直享有無與倫比的口碑。
    div.pure-g.center-group
      div.pure-u-1-2(style='background:#FFF;')
        img(src='/img/logo/Garena.png', width='400', style='display: block; margin: 0 auto;')
      div.pure-u-1-2
        h1 《Garena競舞台》
        p.info(style='padding-right: 20px;').
          Garena戰網提供了一個地方讓志同道合的朋友進行交流，大家可以一起分享遊戲經驗、圖片和互相挑戰的空間。在這個特別的空間裏，您可以扮演不同角色，如隊員、管理員和首領。只有在Garena戰網，您可以暢所欲言，獲得最大的遊戲樂趣！
    div.pure-g.center-group
      div.pure-u-1-2(style='background:#FFF;')
        img(src='/img/logo/Twitch.png', width='400', style='display: block; margin: 0 auto;')
      div.pure-u-1-2
        h1 《Twitch》
        p.info.
          成立於 2011 年 6 月，Twitch 是全球第一遊戲玩家大集合的社交影片平台及社群。每個月有超過 1 億的社群成員集中在此，與超過 170 萬的直播者一起觀看並討論視訊遊戲。Twitch 的即時點播視訊平台是專為整個視訊遊戲產業服務，包括遊戲開發商、發行商、媒體單位、活動、休閒內容製作人，以及整個 Esports 場景。
    h1.ui.center.aligned.header(style='color: #fff;font-family: 微軟正黑體;')
      i.ui.orange.ribbon.label
      | 贊助單位
      p(style='color: grey;font-family: 微軟正黑體;font-size: 6px;').
        (按英文字母次序排列)
    div.pure-g.center-group
      div.pure-u-1-2(style='background:#FFF;')
        img(src='/img/logo/ahq.png', width='400', style='display: block; margin: 0 auto;')
      div.pure-u-1-2
        h1 《ahq e-Sports club》
        p.info(style='padding-right: 20px;').
          競酷數位(ahq)是全台灣第一家以電競運動為營運方向的運動經紀行銷公司，旗下ahq e-Sports club目前擁有3支職業電競運動戰隊，2013年我們旗下的戰隊之王(AVA)戰隊贏得了AIC大賽的世界冠軍，英雄聯盟(LOL)戰隊則贏得GPL大賽的東南亞區的冠軍，在這同時，ahq e-Sports club也成為東南亞區最具實力與人氣的電競戰隊。   
    div.pure-g.center-group
      div.pure-u-1-2(style='background:#FFF;')
        img(src='/img/logo/esr.png', width='400', style='display: block; margin: 0 auto;')
      div.pure-u-1-2
          h1 《ESR電競王》
          p.info(style='padding-right: 20px;').
            「ESR 電競王」自 2014 年 7 月轉型電競入口網站以來，竭力將全球最新最快的電競資訊帶給大家，讓台灣跟國際電競潮流接軌不落人後。也推出了全方位的「電競系­統」讓玩家成為選手，能自由報名、配對；讓玩家成為主播，能預約播報支持的賽事。
          p.info(style='padding-right: 20px;') 為了推廣更多元的電競賽事，也開放了「賽事舉辦」功能，只要是熱愛電競的玩家，都可以自行舉辦屬於自己的賽事，不論是社團、學校­，或是各遊戲公會，都可以輕鬆地在ESR 舉辦屬於自己的電競賽事。當然，在舉辦的過程中，ESR 都會提供專業的人員，支援相關技術、規畫、場地，並協助行銷推廣、贊助邀請…等功能，讓所有熱愛電競的玩家，能有一個揮灑自己電­競熱血、發揮自己所長的地方。
          p.info(style='padding-right: 20px;') 你對電競有夢，ESR 幫你築夢
    div.pure-g.center-group
      div.pure-u-1-2(style='background:#FFF;')
        img(src='/img/logo/acer logo.jpg', width='400', style='display: block; margin: 0 auto;')
      div.pure-u-1-2
          h1 《Acer》
          p.info(style='padding-right: 20px;').
            我們期許能提供最強大、快速、甚至最瘋狂的電競產品，來幫助玩家征服遊戲世界!
          p.info(style='padding-right: 20px;').
            當Predator印記亮起的那一刻，您就是為侵略而生的掠奪者，請盡情感受剽悍的力量!
  script(src='/js/sponsors.js')
