extends layout

block stylesheet
  link(rel='stylesheet', href='/css/sponsors.css')
  link(rel='stylesheet', href='/css/sponsors-slider.css')

block content
  div.content-wrapper
    div#slideshow-wrap
      input(type='radio', id='button-1',onclick='pic=1;percentage=0;' name='controls', checked='checked')
      label(for='button-1')
      input(type='radio', id='button-2',onclick='pic=2;percentage=0;' name='controls')
      label(for='button-2')
      input(type='radio', id='button-3',onclick='pic=3;percentage=0;' name='controls')
      label(for='button-3')
      input(type='radio', id='button-4',onclick='pic=4;percentage=0;' name='controls')
      label(for='button-4')
      label(for='button-1', class='arrows',id='arrow-1')
      label(for='button-2', class='arrows',id='arrow-2')
      label(for='button-3', class='arrows',id='arrow-3')
      label(for='button-4', class='arrows',id='arrow-4')
      div#slideshow-inner
        ul
          li#slide1
            img(src='/img/lol.jpg')
            div#lolinfo
              h1.title 《英雄聯盟》
              p.
                遊戲中擁有超過 100 位風格迴異的英雄，搭配獨創的「召喚師」系統及周邊技能、符文、天賦等新的系統組合，大幅提升遊戲豐富性，讓扮演召喚師的玩家，能夠針對特定戰術選擇不同英雄與隊友搭配合作，在這個奇幻世界寫下屬於自己團隊的全新傳奇。
          li#slide2
            img(src='/img/hs.jpg')
            div#hearthstoneinfo
              h1.title 《爐石戰記：魔獸英雄傳》
              p.
                收起你的寶劍，拿出你的套牌，準備好迎接爐石戰記：魔獸英雄傳 - 一個快節奏戰術卡牌遊戲，簡單易學又非常好玩。快到 Battle.net 開始免費遊戲，使用你的卡牌來施展法術，召喚生物並指揮魔獸爭霸的英雄進行壯闊的戰術對決吧。
          li#slide3
            img(src='/img/sc2.jpg')
            div#starcraftinfo
              h1.title 《星海爭霸®II：虛空之遺™》
              p.
                你是亞坦尼斯大主教，強大神族的領袖。幾年前，你的故鄉艾爾毀於蟲族無情的戰火之中。後來經過種種努力，你終於組成了強大的黃金艦隊，準備收復家園，然而眼前卻有古老的宿敵亞蒙在阻撓這項使命，甚至威脅銀河系的存亡。現在只有你能讓神族陣營團結起來，在步步逼近的黑暗勢力吞噬星區之前擊敗它！
          li#slide4
            img(src='/img/ava.jpg')
            div#avainfo
              h1.title 《A.V.A戰地之王》
              p.
                Alliance of Valiant Arms，簡稱 A.V.A，首款以 Unreal 3 引擎所開發的 FPS 遊戲，結合最擬真的爆破感與最細緻的戰鬥場景，絕對讓你沉浸其中，無法自拔！
      div#progress
    br
    br
    br
    h1.ui.center.aligned.header(style='color: #fff;font-family: 微軟正黑體;')
      i.ui.red.ribbon.label
      | 協辦單位
    div.pure-g.center-group
      div.pure-u-1-2(style='background:#FFF;')
        img(src='/img/logo/blizzard.png', width='400', style='display: block; margin: 0 auto;')
      div.pure-u-1-2
        h1 《暴雪娛樂》
        p.info.
          Blizzard Entertainment® 公司是全球最具影響力的娛樂軟體研發商和發行商之一。自1994年「Blizzard」品牌正式創立以來，公司迅速成長為最受歡迎和廣受業內尊敬的電腦遊戲開發商之一。通過強調精益求精的遊戲設計和其樂無窮的娛樂體驗，Blizzard 公司一直享有無與倫比的口碑。
    div.pure-g.center-group
      div.pure-u-1-2(style='background:#FFF;')
        img(src='/img/logo/Garena.png', width='400', style='display: block; margin: 0 auto;')
      div.pure-u-1-2
        h1 《Garena競舞台》
        p.info(style='padding-right: 20px;').
          Garena戰網提供了一個地方讓志同道合的朋友進行交流，大家可以一起分享遊戲經驗、圖片和互相挑戰的空間。在這個特別的空間裏，您可以扮演不同角色，如隊員、管理員和首領。只有在Garena戰網，您可以暢所欲言，獲得最大的遊戲樂趣！
    div.pure-g.center-group
      div.pure-u-1-2(style='background:#FFF;')
        img(src='/img/logo/Twitch.png', width='400', style='display: block; margin: 0 auto;')
      div.pure-u-1-2
        h1 《Twitch》
        p.info.
          成立於 2011 年 6 月，Twitch 是全球第一遊戲玩家大集合的社交影片平台及社群。每個月有超過 1 億的社群成員集中在此，與超過 170 萬的直播者一起觀看並討論視訊遊戲。Twitch 的即時點播視訊平台是專為整個視訊遊戲產業服務，包括遊戲開發商、發行商、媒體單位、活動、休閒內容製作人，以及整個 Esports 場景。
    h1.ui.center.aligned.header(style='color: #fff;font-family: 微軟正黑體;')
      i.ui.orange.ribbon.label
      | 贊助單位
      p(style='color: grey;font-family: 微軟正黑體;font-size: 6px;').
        (按英文字母次序排列)
    div.pure-g.center-group
      div.pure-u-1-2(style='background:#FFF;')
        img(src='/img/logo/acronis.png', width='400', style='display: block; margin: 0 auto;')
      div.pure-u-1-2
        h1 《Acronis安克諾斯》
        p.info(style='padding-right: 20px;').
          Acronis安克諾斯提供本機及雲端資料備份保護，輕鬆備份照片、影片、文件、遊戲程式、密碼、設定到整個作業系統。全新「Try & Decide」功能，建立臨時環境安全測試新遊戲，如若造成系統毀損，可迅速復原並保護資料安全，讓您盡享遊戲沒煩惱！
    div.pure-g.center-group
      div.pure-u-1-2(style='background:#FFF;')
        img(src='/img/logo/ahq.png', width='400', style='display: block; margin: 0 auto;')
      div.pure-u-1-2
        h1 《ahq e-Sports club》
        p.info(style='padding-right: 20px;').
          競酷數位(ahq)是全台灣第一家以電競運動為營運方向的運動經紀行銷公司，旗下ahq e-Sports club目前擁有3支職業電競運動戰隊，2013年我們旗下的戰隊之王(AVA)戰隊贏得了AIC大賽的世界冠軍，英雄聯盟(LOL)戰隊則贏得GPL大賽的東南亞區的冠軍，在這同時，ahq e-Sports club也成為東南亞區最具實力與人氣的電競戰隊。
    div.pure-g.center-group
      div.pure-u-1-2(style='background:#FFF;')
        img(src='/img/logo/buffalo.png', width='400', style='display: block; margin: 0 auto;')
      div.pure-u-1-2
        h1 《BUFFALO》
        p.info(style='padding-right: 20px;').
          BUFFALO是日本最大的電腦周邊產品供應商，並連續數十年蟬聯日本電腦周邊產品銷量冠軍。BUFFALO一直不斷勇於創新，不斷將最新技術應用到新產品上，為家庭和企業提供了先進的網路解決方案。
    div.pure-g.center-group
      div.pure-u-1-2(style='background:#FFF;')
        img(src='/img/logo/candypoppy.png', width='400', style='display: block; margin: 0 auto;')
      div.pure-u-1-2
        h1 《Candy Poppy》
        p.info(style='padding-right: 20px;').
          Candy Poppy 於2014年由波滋達食品股份有限公司成立，推出了獨創口感的「裹糖爆米花」。不同於市面上的即時爆米花口感及風味，裹糖爆米花使用獨特工藝，裹上了特殊風味糖衣，糖衣綿密包覆整顆爆米花，使每一顆爆米花更加香脆可口，每一顆都是一場味蕾的大冒險。
    div.pure-g.center-group
      div.pure-u-1-2(style='background:#FFF;')
        img(src='/img/logo/ecs.png', width='400' , style='display: block; margin: 0 auto;')
      div.pure-u-1-2
        h1 《精英電腦》
        p.info(style='padding-right: 20px;').
          精英電腦成立于1987年，為全球電腦產品專業設計、製造之領導廠商，產品包含主機板、迷你電腦、筆記型電腦、教育平板、電腦棒等，以兼具創新、品質與具有競爭力的產品來滿足消費者求新求變的需求。精英電腦具備業務、設計、零元件製造、系統組裝的垂直整合優勢提供客戶最方便且最完整的產品服務。展望未來，將順應全球市場動脈，精英電腦以關心地球，保護環境為出發，兼顧科技創新來豐富人類生命並增進生活品質。相關詳細資訊，請瀏覽公司網站 www.ecs.com.tw
    div.pure-g.center-group
      div.pure-u-1-2(style='background:#FFF;')
        img(src='/img/logo/eg.png', width='400' , style='display: block; margin: 0 auto;')
      div.pure-u-1-2
        h1 《EpicGear 藝極科技》
        p.info(style='padding-right: 20px;').
          Epic Gear designs and produces quality affordable progressive sports equipment for SUP, surf, kiteboarding and windsurfing.
    div.pure-g.center-group
      div.pure-u-1-2(style='background:#FFF;')
        img(src='/img/logo/esr.png', width='400', style='display: block; margin: 0 auto;')
      div.pure-u-1-2
          h1 《ESR電競王》
          p.info(style='padding-right: 20px;').
            「ESR 電競王」自 2014 年 7 月轉型電競入口網站以來，竭力將全球最新最快的電競資訊帶給大家，讓台灣跟國際電競潮流接軌不落人後。也推出了全方位的「電競系­統」讓玩家成為選手，能自由報名、配對；讓玩家成為主播，能預約播報支持的賽事。
          p.info(style='padding-right: 20px;') 為了推廣更多元的電競賽事，也開放了「賽事舉辦」功能，只要是熱愛電競的玩家，都可以自行舉辦屬於自己的賽事，不論是社團、學校­，或是各遊戲公會，都可以輕鬆地在ESR 舉辦屬於自己的電競賽事。當然，在舉辦的過程中，ESR 都會提供專業的人員，支援相關技術、規畫、場地，並協助行銷推廣、贊助邀請…等功能，讓所有熱愛電競的玩家，能有一個揮灑自己電­競熱血、發揮自己所長的地方。
          p.info(style='padding-right: 20px;') 你對電競有夢，ESR 幫你築夢
    div.pure-g.center-group
      div.pure-u-1-2(style='background:#FFF;')
        img(src='/img/logo/galax.png',  width='400' ,style='display: block; margin: 0 auto;')
      div.pure-u-1-2
        h1 《GALAXY Microsystems》
        p.info(style='padding-right: 20px;').
          GALAXY Microsystems Ltd. 於 1994 年成立，自創始以來，全心致力於顯卡及其他電腦硬體的生產和銷售，多年來不單深受DIY愛好者及專業遊戲玩家的喜愛，也成為全球領先的顯示卡製造商。 我們尊奉用戶利益最大化的宗旨，多年來獲獎無數，亦在市場上穩健成長，而近年電競風氣盛行，影馳亦會繼續不遺餘力，為各大遊戲玩家製作高性能的產品！
    div.pure-g.center-group
      div.pure-u-1-2(style='background:#FFF;')
        img(src='/img/logo/nzxt.png', width='400', style='display: block; margin: 0 auto;')
      div.pure-u-1-2
        h1 《NZXT》
        p.info(style='padding-right: 20px;').
          NZXT是來自美國加州洛杉磯的領先電競機殼, 電腦周邊及軟體的製造商。我們是一群要求未來可以更好的團隊。近幾年來我們不斷的成長，同時挑戰自己，突破所有的限制並創新、改變市場的產品。我們發揚並跟隨我們的文化，熱血、打破常規、挑戰極限。
    div.pure-g.center-group
      div.pure-u-1-2(style='background:#FFF;')
        img(src='/img/logo/ocz.png', width='400', style='display: block; margin: 0 auto;')
      div.pure-u-1-2
        h1 《OCZ Storage Solutions》
        p.info(style='padding-right: 20px;').
          OCZ是全球高效能固態硬碟技術領導者，並且完全屬於 Toshiba Corporation所有。 OCZ公司旗下擁有固態硬碟技術多項專利，並且獨立研發韌體跟主控制器，以及開發針對虛擬化環境專用的快取加速軟體，能針對客戶需求提供客制化分析、儲存加速，滿足客戶重要的數位資料儲存效能以及安全的需求。更多詳情請上www.ocz.com  
    div.pure-g.center-group
      div.pure-u-1-2(style='background:#FFF;')
        img(src='/img/logo/pcdiy.png', width='400', style='display: block; margin: 0 auto;')
      div.pure-u-1-2
        h1 《PCDIY!》
        p.info(style='padding-right: 20px;').
          PCDIY!創刊於1996年12月，以Do It By Yourself的DIY精神，提供消費者全方位的電腦以及3C述位科技資訊，完整包含採購、組裝、維修、學習、應用以及最新市場流行訊息。不僅滿足了消費者對3C產品採購的需求，也充足了玩家對電腦科技資訊與數位生活應用的渴望，是電腦資訊雜誌的第一品牌。 
    div.pure-g.center-group
      div.pure-u-1-2(style='background:#FFF;')
        img(src='/img/logo/roccat.png', width='400', style='display: block; margin: 0 auto;')
      div.pure-u-1-2
        h1 《ROCCAT》
        p.info(style='padding-right: 20px;').
          ROCCAT 為全球知名Gaming廠商，其首趨一指的創新製程技術，不但在尖端科技上取得領先地位，更多次引領及改變Gaming產品樣貌，市占率更穩居德國第一。ROCCAT Gaming頂級產品，外觀低調奢華閃耀晶燦黑色光澤，搭配專屬頂級配件，讓ROCCAT Gaming不僅僅只是Gaming的工具，更是突顯個人時尚生活品味的必備品；其獨步全球的100% 全德國工藝設計及呈現出整體的線條感受、以及優異極致的傳輸效能，加乘時尚搶眼的美感元素，將帶給使用者全新的數位使用體驗。
    div.pure-g.center-group
      div.pure-u-1-2(style='background:#FFF;')
        img(src='/img/logo/Sharkoon.png', width='400', style='display: block; margin: 0 auto;')
      div.pure-u-1-2
        h1 《Sharkoon》
        p.info(style='padding-right: 20px;').
          SHARKOON是在德國設立的著名電腦週邊設備品牌，致力於開發各種個人電腦的週邊配件商品，在所有產品規格制定和包裝設計上也可以看的出來帶著明顯的德國風格以及德國人對工藝製造的嚴苛要求。SHARKOON以消費者為出發點的用心，以及充滿創意的設計巧思，也能讓原本標準化的商品變的與眾不同且更加實用，在品質方面也嚴格把關控制，相信能打動所有專業使用者的心。
    div.pure-g.center-group
      div.pure-u-1-2(style='background:#FFF;')
        img(src='/img/logo/team.png', width='400', style='display: block; margin: 0 auto;')
      div.pure-u-1-2
        h1 《十銓科技 Team Group Inc.》
        p.info(style='padding-right: 20px;').
          十銓科技 Team 為全球記憶及行動應用周邊領導品牌，旗下共擁有記憶體、隨身碟、記憶卡、SSD、行動電源、線材、無線充電及車充等多樣產品線。針對日常生活所需的各種應用，深入研究與研發，打造以人為中心的生活產品，成就你我享樂生活的終極夢想。
    div.pure-g.center-group
      div.pure-u-1-2(style='background:#FFF;')
        img(src='/img/logo/tesoro.png', width='400', style='display: block; margin: 0 auto;')
      div.pure-u-1-2
        h1 《Tesoro鉄修羅》
        p.info(style='padding-right: 20px;').
          TESORO TECHNOLOGY USA INC. 鐵諾集團總部位於美國加利福尼亞州,米爾皮塔斯市 California Milpitas。
          TESORO從知名電競隊伍及電競專業玩家相互合作及分享使用需求, 借由TESORO專業的研發團隊 , 設計出最符合遊戲操作及TESORO品牌形象的個性化電競周邊產品 ,其中包含了專為電競環境所設計的電競鍵盤,滑鼠,滑鼠墊及配件, TESORO也將致力於培養專屬TESORO個性化的競技產品 , 以TESORO Break the Rules突破限制的電競精神個性 , 創造出風格獨特的電競周邊. 
    div.pure-g.center-group
      div.pure-u-1-2(style='background:#FFF;')
        img(src='/img/logo/TP-LINK.png', width='400', style='display: block; margin: 0 auto;')
      div.pure-u-1-2
        h1 《TP-LINK》
        p.info(style='padding-right: 20px;').
          TP-LINK是全球領先的網絡通訊設備供應商，迄今在全球超過120個國家建立品牌據點，產品及品牌影響力遍及世界各地。 TP-LINK致力於研發創新、高效能生產和嚴格的品質控管，品牌屢創佳績、屢獲殊榮，為大眾在生活、工作、娛樂上飛速發展的網絡使用需求，提供了品質卓越、服務一流的全面設備解決方案。TP-LINK產品涵蓋以太網、無線局域網、寬帶接入、電力線通信，在既有的傳輸、交換、路由等主要核心領域外，正大力擴展移動互聯網終端、智能家居、網絡安全等領域。
  script(src='/js/sponsors.js')
