* {
  margin: 0;
  font-family: 微軟正黑體, 'Microsoft JhengHei', 'Times New Roman', Times, serif;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -70px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 70px; 
}
.site-footer {
  text-align: center;
  line-height: 45px;
}
.right.menu .button a {
  color: #fff;
}
.container {
  background: #fff;
  width: 1100px;
  margin: 20px auto;
  padding: 30px;
  box-shadow: 0px 2px 12px -2px rgba(51, 51, 102, 0.5);
}
