h1.title {
  text-align: center;
}

.center-group {
  width: 850px;
  margin: 0 auto;
  padding: 50px 0;
}

#progress {
  background: rgb(0, 120, 231);
  height: 3px;
  width: 0%;
}

#starcraftinfo {
  width: 400px;
  position: absolute;
  bottom: 250px;
  left: 10px;
  color: #fff;
}

#hearthstoneinfo {
  width: 400px;
  position: absolute;
  bottom: 50px;
  right: 250px;
  color: #fff;
}

#lolinfo {
  width: 400px;
  position: absolute;
  bottom: 50px;
  left: 50px;
  color: #fff;
}

#avainfo {
  width: 400px;
  position: absolute;
  bottom: 50px;
  right: 20px;
  color: #fff;
}

.info {
  font-size: 16px;
  color: #fff;
  line-height: 25px;
}
