.content-wrapper {
  padding: 10px 0;
}
.section-team {
  width: 800px;
  margin: 30px auto;
  padding: 10px 30px;
  background: #fff;
  border: 1px solid #ccc;
}

.team {
  width: 100%;
  border: none;
}

.team thead {
  background: #fff;
  border-bottom: 3px solid #eee;
} 

.team tr {
  height: 40px;
}

.team tbody tr:nth-child(odd) {
  background: #f9f9f9;
}

.team td a {
  color: #0078E7;
  text-decoration: none;
  font-size: 16px;
}

.member {
  margin-right: 5px;
}

.tab-nav {
  display: inline;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.tab-nav:hover {
  background: #eee;
}

.tab {
  margin-bottom: 20px;
}
